#div-admin-buttons{
    justify-content: center;
}

#div-tit-prod{
    text-align: center;
}
.table table thead tr th{
    text-align: center;
}
#div-opc-prod{
    justify-content: center;
}
#div-busc-prod{
    text-align: center;
}