#div-tit-cat{
    text-align: center;
}
.table table thead tr th{
    text-align: center;
}
#div-opc-cat{
    justify-content: center;
}
#div-busc-cat{
    text-align: center;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}