// *{
//     color: rgba(221, 221, 221, 0.719) !important;
// }
// button{
//     color: rgba(223, 223, 223, 0.726) !important;
// }

// select, option, textarea, input{
//     color: black !important;
// }
.nav-item a{
    color: rgb(236, 236, 236) !important;
}

@media only screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
}

@media only screen and (max-width: 600px) {
    div.example {
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px){
    #tit-index-cat{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 320px){
    #subtit-index-cat{
        font-size: 1rem;
    }
}