html, body {
    display: grid;
    height: 100%;
}

#bwp {  
    border: 4px solid #3F3F3F;
    color: #3F3F3F;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}

#bwp .label,
#bwp .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

#bwp .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

#bwp .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

#bwp .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

#bwp .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

#bwp:hover .label {
    transform: translateX(-52px);
}

#bwp:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

#bwp:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

#bwp:active {
    border-color: rgb(5, 236, 16);
    color: rgb(5, 236, 16);
}

#bwp:active .icon-arrow {
    fill: rgb(5, 236, 16);
}

.border-img{
    border: 8px solid #f8f8f8
}

.marco{
    border: 1px solid #bfbfbf ;
}