@media only screen and (max-width: 320px) {
  #img-product{
    width: 50%;
  }
}
@media only screen and (min-width: 320px) {
  #img-product{
    width: 50%;
  }
}

@media only screen and (min-width: 425px) {
  #div-but-new-index-product{
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 768px) {
  #img-product{
    width: 75%;
  }
}

@media only screen and (min-width: 1025px) {
  #img-product{
    width: 25%;
  }
}

@media only screen and (min-width: 1440px) {
  #img-product{
    width: 40%;
  }
}



#th-index-product{
    width: 15%;
}
